<% provide(:title, 'All tasks') %>
<h1>All tasks</h1>

<%= will_paginate @tasks %>

<%= link_to 'New', new_task_path %>
<div  class="container">
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, 'ID')%></th>
      <th><%= sort_link(@q, :name, 'Name')%></th>
      <th><%= sort_link(@q, :content, 'Content')%></th>
      <th><%= sort_link(@q, :status, 'Status')%></th>
      <th><%= sort_link(@q, :created_at, 'Created Time')%></th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tasks %>
  </tbody>
</table>
</div>

<%= will_paginate @tasks %>
